firstmule/src/main/mule/firstmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="073029ba-4918-4202-986d-ed05d83a851b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstmuleFlow" doc:id="6bc29f9c-b51d-4719-80d1-7b20f4e2c5a7" >
		<http:listener doc:name="Listener" doc:id="fee4c56d-6c23-4894-bc62-78c3526006b3" config-ref="HTTP_Listener_config" path="/try"/>
		<set-payload value="this is a demo payload" doc:name="Set Payload" doc:id="8e14be16-8685-4711-97fa-b49b44ac62cc" />
		<logger level="INFO" doc:name="Logger" doc:id="50ced936-edd9-458d-8f38-2a03670fa949" message="#[payload]"/>
	</flow>
</mule>
